server:
  port:
    8099

logging:
  file:
    name: ./logs/app.log
  level:
    root: INFO
    kr.lfin.crowd: INFO
    org.hibernate.sql: DEBUG
    org.hibernate.type.descriptor.sql: DEBUG
  logback:
    rollingpolicy:
      file-name-pattern: "./logs/app.log.%d{yyyyMMdd}.%i"
      max-history: 30
      max-file-size: 100MB

spring:
  data:
    web:
      pageable:
        one-indexed-parameters: true  # ??? ?? index ? 1? ??
        default-page-size: 10         # default page size = 10
  jpa:
    properties:
      hibernate:
        format_sql: true              # ?? ???
    show-sql: true                    # ?? ??
  datasource:
    url: jdbc:mysql://localhost:3306/assignment?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:mysql://localhost:3306/assignment?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: assignment_user
    password: m6gBT0r0KG
    driver-class-name: com.mysql.cj.jdbc.Driver
logging.level:
  org.hibernate.orm.jdbc.bind: trace

---

spring:
  config:
    activate:
      on-profile: test
  datasource:
    url: jdbc:mysql://localhost:3306/assignment?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: assignment_user
    password: password_for_test
    driver-class-name: com.mysql.cj.jdbc.Driver
